
<div class="row">     
    <div class="span12">         
    <a   class="page-scroll" [routerLink]="['/']" >Go Back...</a>
    </div> 
</div>
<div class="container" >
    <p></p>
	<div class="grid" >
        <div *ngFor="let url of urls;let i =index;" class="cell"><img class="img-responsive" [src]="url.url" />
         <div class="  effect1 col-sm-9"> 
  <button class="btn btn-warning"  (click)="counter(i)">
    <i class="fa fa-heart" aria-hidden="true"></i> {{url.count}}
  </button><span class="fontStyle">&nbsp;&nbsp;{{url.desc}}</span> </div>
        </div>
      
    </div>
    
</div>